extends layout

block content
	body.about
		.section
			h1.sectionTitle ABOUT 
			img(src="/images/karinpic.jpg").bioImage
			p I recently came to the conclusion that I’ve always wanted to solve problems.  I studied social work straight out of high school because I wanted to help people with mental illnesses overcome obstacles, and live happier lives.  I went on to graduate school for early childhood special education because I wanted to focus on effective interventions for young children.  I began playing around with HTML and CSS as a hobby, but it wasn’t long before I was enthralled with what I could make happen with code.  Plus, coding has really appealed to my typically more introverted nature (which, thanks to <a class="link-color" href="http://www.thepowerofintroverts.com/">Susan Cain </a> and her book <em>Quiet!</em>, I’ve realized isn’t such a bad thing!).  

			p.indent In March 2014 finished a web development boot camp, <a class= "link-color" href="http://www.refactoru.com/"> RefactorU </a>, and I feel like I finally have some solid ground to stand on as I seek a career transition into the world of tech.  I am seeking a junior position where I can put to use what I learned during my intensive ten weeks at the boot camp.  I also have some valuable soft skills garnered from my previous work experience, and I’m excited to mesh those with coding.  

			p.indent As for other facts about me, I am a native of Colorado, and I love the outdoors.  In my spare time I love to go kayaking, hiking, snowshoeing, sledding, or riding my road bike.   I also love to read and play in my garden.   I am married to a great guy who is also a software developer, and we have two dogs, two cats, a corn snake and a tarantula.  At this point you’re probably wondering about the spider, because most people do!  She is a <a class="link-color", href= "http://en.wikipedia.org/wiki/Chilean_rose_hair_tarantula">Chilean Rose Hair Tarantula</a>, and gets along great with people.  Let me know if you’d like to meet her!   
