extends layout

block content
	body.about
		div.navBar
			a(href="homeDirection")
				img(id="homeicon" src="/images/homePage.png") 
			div Home
		.section
			h1.sectionTitle ABOUT 
			img(src="/images/karinpic.jpg").bioImage
			p Initially, I studied social work straight out of high school because I wanted to help people with mental illnesses overcome obstacles, and live happier lives.  I went on to graduate school for early childhood special education because I wanted to focus on effective interventions for young children.  I began playing around with HTML and CSS as a hobby, and decided I wanted to learn more about web development in general.  In March 2014 I finished a web development boot camp, <a class= "link-color" href="http://www.refactoru.com/"> RefactorU </a>.

			p.indent I am a native of Colorado, and I love the outdoors.  My husband and I also have two dogs, two cats, a ball python and a tarantula.  