extends layout

block content
	body.about
		div.navBar
			a(href="homeDirection")
				img(id="homeicon" src="/images/homePage.png") 
			div Home
		iframe(src="https://docs.google.com/forms/d/1g-dDi7lMQQizD4g9n0y1FcoRUgsmlfGEllEDNUjuruc/viewform?embedded=true" width="1000" height="500" frameborder="0" marginheight="0" marginwidth="0")