extends layout

block content
	div.name
		div.text-glow Karin Alvarez 
	div.text-glow.author Tarantula wrangler, web developer, and seeker of beaches

	div.bottombanner
		div.icondiv
			img(class='icon', src='/images/wordpress-icon.png') 
			img(class='icon', src='/images/twittericon.png')
			img(class='icon', src='/images/linkedinicon.png')
		div.moreinfodiv 
			.moreinfo <a class="link">About</a><br>
			.moreinfo <a class="link"> Projects </a>
			.moreinfo <a> Contact </a>

		

	