extends layout

block content
	#icondiv.animated 
		img(class='icon', src='/images/wordpress-icon.png')
		img(class='icon', src='/images/twittericon.png')
		img(class='icon', src='/images/linkedinicon.png')
	div.name
		span.text-glow #{title} 
		img(id= 'karinphoto', src='/images/karinpic.jpg')


	