extends layout

block content
	div.name
		div.text-glow Karin Alvarez 
	div.text-glow.author Tarantula wrangler, web developer, and seeker of beaches

	div.bottombanner
		div.icondiv
			a(href="http://www.itwasnicetomeetyou.com/")
				img(class='icon', src='/images/wordpress-icon.png')
			a(href="https://twitter.com/K_J_Alvarez") 
				img(class='icon', src='/images/twittericon.png')
			a(href="https://www.linkedin.com/pub/karin-alvarez/56/153/407/") 
				img(class='icon', src='/images/linkedinicon.png')
		div.moreinfodiv 
			.moreinfo <a class="link" href="aboutDirection">About</a><br>
			.moreinfo <a class="link">Projects</a>
			.moreinfo <a href="contactDirection"> Contact </a>

		

	