extends layout

block content
	body.about
		.section
			h1.sectionTitle PORTFOLIO
			p I completed various projects to build my competency in skills needed for web development.  The following is work I have done that I think best showcases what I have learned thus far.  

			ul <h3>Technologies used:</h3>
				li HTML/CSS  
				li Twitter Bootstrap/ ZURB Foundation
				li Javascript/jQuery
				li AJAX
				li Node.js/ Jade
				li MongoDB

			p <img class="icon" src="/images/snowoctocat.png">Source code can be accessed on my <a class= "link-color" href="https://github.com/kjalvarez">GitHub profile</a>.  

			div
				div.screenShot
					<img class= "screenImage" src="/images/dogResScreen.jpg">
				div.projInfo 
					p <a class= "link-color" href="http://dog-rescue-volunteer-portal.herokuapp.com/index">Dog Rescue Volunteer Portal</a>: Over the last few years I have become involved with a dog rescue, and I wanted to design a volunteer portal that has a pleasing aesthetic, makes documents easy to find, displays foster homes, and lists dogs available for adoption.  "Western Dogs Rescue" is a mock rescue. 

