extends layout

block content
	body.about
		.section
			h1.sectionTitle PORTFOLIO
			p I completed various projects to build my competency in skills needed for web development.  The following is work I have done that I think best showcase what I have learned thus far.  

			ul <h3>Technologies used:</h3>
				li HTML/CSS  
				li Twitter Bootstrap/ ZURB Foundation
				li Javascript/jQuery
				li AJAX
				li Node.js/ Jade
				li MongoDB

			p <img class="icon" src="/images/snowoctocat.png">My github profile can be accessed <a class= "link-color" href="https://github.com/kjalvarez">here</a>.  