a {
	color: black;
	font-weight: bold;
}

body {
	background-image: url('/images/wildtextures-seamless-blue-painted-planks.jpg');

}
.name {
	font-family: 'Cinzel Decorative';
	color: white;
	font-size: 90px;
	width: 90%;
	height: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 3%;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-top: solid 3px white;
	border-bottom: solid 3px white;

}

.author {
	font-family: 'Cinzel Decorative';
	color: white;
	font-size: 28px;
	text-align: center;
	padding-top: 2%;

}

.text-glow:hover{
	text-shadow: 0 0 10px #fff;
	transition: text-shadow 1s;
	-webkit-transition: text-shadow 1s;
}

#karinphoto {
	width: 150px;
	height: 250px;
	vertical-align: middle;
	border: solid #9BC4E2 5px;
	margin-left: 3%;

}

.icon {
	height: 10%;
	width: 10%;
	padding: 5px 5px 5px 5px; 
	display: inline-block;
}

.icon:hover {
	-ms-transform: rotate(30deg); /* IE 9 */
	-webkit-transform: rotate(360deg);
	transition: 2s; /* Chrome, Safari, Opera */
	transform: rotate(30deg);  
}

.bottombanner {
	margin-top: 10%;
	opacity: rgba(255, 255, 255, 0.6);
	background-image: url('/images/wildtextures-wooden-chopping-board-texture-2.jpg');
	display: inline-block;
	border-top: 3px solid white;
}

.moreinfodiv {
	text-align: right;
	display: inline-block;
	width: 50%
}

.icondiv {
	text-align: left;
	display: inline-block;
	width: 50%

}

.link {
	border-right: 3px solid white;
	padding: 5px 5px 5px 5px;
}

.moreinfo {
	display: inline-block;
	font-size: 24px;
	font-family: 'Cinzel Decorative';

}

.sectionTitle {
	font-family: 'Cinzel Decorative';
	padding: 1%;
}

.section {
	margin: 10% 10% 10% 10%;
	background-color: orange;
	font-family: "Gilda Display";
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	border: solid 3px #8B8378;
	padding: 2%;

}

.bioImage {
	width: 190px;
	height: 260px;
	float: left;
	border: solid 1px #8B8378;
	margin-right: 2%;
	margin-left: 2%

}

iframe {
	margin: 10% 10% 10% 10%;
	border: solid 3px black;
	color: black;

}

.indent {
	text-indent: 50px;
}

li {
	margin-left: 20px;
}
.about {
	background-image: url('/images/wildtextures-red-ivy-vine-trellis.jpg');
	background-attachment: fixed;
}

.link-color {
	color: #00688B;
}

#scroll {
	margin-left: 15%;
	height: 100px;
	width: 400px;
}

.screenShot {
	width: 30%;
	display: inline-block;

}

.screenImage {
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

.projInfo {
	display: inline-block;
	width: 70%;
	padding: 10px;
	font-size: 18px;
	padding: 3%;
	vertical-align: middle;
}

