a {
	color: white;
}

body {
	background-color: #9BC4E2
}
.name {
	font-family: 'Nothing You Could Do';
	background-image: url('/images/wildtextures-raindrops-ripples.jpg');
	color: white;
	font-size: 100px;
	width: 90%;
	height: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	border: solid white 5px;
	padding: 3%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

.text-glow:hover{
	text-shadow: 0 0 10px #fff;
	transition: text-shadow 1s;
	-webkit-transition: text-shadow 1s;
}

#karinphoto {
	width: 150px;
	height: 250px;
	vertical-align: middle;
	border: solid #9BC4E2 5px;
	margin-left: 3%;

}

#icondiv {
	text-align: center;
	margin-top: 10%;
}

.icon {
	height: 5%;
	width: 5%;
	padding: 5px;

}

.icon:hover {
	-ms-transform: rotate(30deg); /* IE 9 */
	-webkit-transform: rotate(360deg);
	transition: 2s; /* Chrome, Safari, Opera */
	transform: rotate(30deg);  
}

.moreinfobox {
	text-align: center;
}

.moreinfo {
	width: 15%;
	color: white;
	padding: 3%;
	background-color: #867970;
	margin-top: 1%;
	margin-left: 3%;
	margin-right: 3%;
	display: inline-block;
	-webkit-border-radius: 50%;
	border: solid 3px #3D352A;

}